{% extends "base.html" %}
{% block title %}Edit Blog Post{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title mb-0">Edit Blog Post</h2>
                </div>
                <div class="card-body">
                    {% include "blog/_form.html" with context %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
